<article
  class="building-card"
  (click)="onOpen()"
>

  <!-- IMAGE -->
<div class="image-section">

  <img
    *ngIf="mainImageUrl; else noImage"
    class="building-img"
    [src]="mainImageUrl"
    [alt]="building.buildingName"
    (error)="handleImageError()"
  />

  <ng-template #noImage>
    <div class="image-placeholder">
      <span class="material-icons">apartment</span>
    </div>
  </ng-template>

  <!-- <span
    class="status-badge"
    [class.inactive]="!building.active"
  >
    {{ building.active ? 'Active' : 'Inactive' }}
  </span> -->

</div>

  <!-- CONTENT -->
  <div class="content">

    <div class="title-section">

      <h3>
        {{ building.buildingName }}
      </h3>

      <p>
        {{ building.description }}
      </p>

    </div>

    <!-- LOCATION -->
    <div class="location">

      <span class="material-icons">
        location_on
      </span>

      <span>
        {{ building.region }},
        {{ building.wilaya }},
        {{building.area}}
      </span>

    </div>

    <!-- OCCUPANCY -->
    <div class="occupancy">

      <div class="occupancy-header">

        <span>Occupancy</span>

        <strong>
          {{ occupancyPercentage }}%
        </strong>

      </div>

      <div class="progress-bar">

        <div
          class="progress-fill"
          [style.width.%]="occupancyPercentage"
        ></div>

      </div>

    </div>

    <!-- STATS -->
    <div class="stats-grid">

  <div class="stat-box">
    <strong>{{ totalUnits }}</strong>
    <span>Total</span>
  </div>

  <div class="stat-box">
    <strong>{{ building.flatsRented + building.flatsNotRented }}</strong>
    <span>Flats</span>
  </div>

  <div class="stat-box">
    <strong>{{ building.roomsRented + building.roomsNotRented }}</strong>
    <span>Rooms</span>
  </div>

  <div class="stat-box">
    <strong>{{ building.shopsRented + building.shopsNotRented }}</strong>
    <span>Shops</span>
  </div>

</div>
    <!-- FOOTER -->
    <div class="card-footer">

      <div class="availability">

  <span class="available">
    {{ availableUnits }}
    Available
  </span>

  <span class="occupied">
    {{ occupiedUnits }}
    Occupied
  </span>

</div>
      </div>

      <button
        type="button"
        class="manage-btn"
      >
        Manage
      </button>

    </div>
    
</article>