@import '@angular/material/prebuilt-themes/indigo-pink.css';


.add-hostel-dialog-panel .mat-mdc-dialog-container {
  border-radius: 24px;
  overflow: hidden;
}

.add-hostel-dialog-panel .mdc-dialog__surface {
  border-radius: 24px !important;
}